@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

body {
  font-family: "Quicksand", sans-serif;
}

.container {
    display: flex;
    width: 700px;
}

.column {
    margin: 2rem;
    border: 1px dotted goldenrod;
    padding: 1rem;
    min-width: 150px;
}

.watchlist {
    width: 550px;
}
  